.av-copyright-footer {
  font-size: 14px;
  width:100% !important;
  background: var(--ifm-footer-background-color);
  display: inline-block !important;
  text-align: center;
 margin:4rem 0 0 0 !important;
}

.footer-wrapper {
  display: flex;
  padding: 80px 24px 0 24px !important;
  flex-direction: column;
  gap: 50px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
}

.image-wrapper {
  display: flex;
  gap: 15px;
}

.description {
  color: #d3dbf9;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  max-width: 850px;
  text-align: center;
}

.footer-bottom {
  display: flex;
  gap: 224px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px;
  background: var(--ifm-footer-bottom-background-color);
}

.terms-and-privacy-text-wrapper {
  display: flex;
  gap: 56px;
}

.footer-text {
  color: #d3dbf9;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.footer-text a {
  color: #d3dbf9;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  text-decoration: none;
}

.footer-content{
max-width: 1060px;
    margin: auto;
    width: 100%;
  padding: 45px 24px 0 24px;
  display:flex;
  border-top: 1px solid rgba(162,169,202,.21);
  justify-content: space-between;
}
  .footer-right-content{
  display: flex;
  gap:4rem;
}
  .footer-content-left {
  display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
  }

    .footer-content-left-description{
      display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #D3DBF9;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    }
  .footer-content-mid{
    display: flex;
    flex-direction: column;
    color: #D3DBF9;
    align-items: baseline;
  gap:14px;
  }
    .footer-content-left-title{
  font-weight: 600;
    color: #D3DBF9;
}
    .footer-content-left-list{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    }
    .footer-content-left-list > a{
  text-decoration: none;
  color: #d3dbf9; 
  font-weight: 400; 
}
/* @media (max-width: 1440px) {
    .av-copyright-footer{
        max-width: 1440px;
       
    }
  } */

@media (max-width: 1230px) {
  .footer-bottom {
    gap: 80px;
  }
  .terms-and-privacy-text-wrapper {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
   .description{
    max-width:700px
   }
  }

@media (max-width: 903px) {
  .main-wrapper {
    padding: 40px 24px !important;
    gap: 60px;
  }
  .title {
    font-size: 24px;
  }
  .title-container {
    gap: 16px;
  }
  .title-container img {
    width: 310px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
  .terms-and-privacy-text-wrapper {
    gap: 16px;
  }
  .description {
    font-size: 16px;
  }
}

@media (max-width: 800px ) {
    .description{
     max-width:500px
    }
  .footer-right-content{
     gap:2rem;
   }
   }
 
@media (max-width: 750px ) {
  .footer-content{
       flex-direction: column;
    gap: 2rem;
    align-items: center;}

  .footer-content-left{
    align-items: center;
    gap: .5rem;
  }
  .footer-content-left-list{
  flex-direction: row;
    gap: 2rem;
  }
  .footer-content-mid{
align-items: center;
  }
  .footer-content-left-description{
    align-items: center;
  }
  .footer-content-left-title{
    display: none;
  }
  .footer-right-content{
    flex-direction: column;
    gap: 1rem;
   }
   }
   @media (max-width: 610px ) {
    .title {
       padding:0 24px;
      }
    .description{
     max-width:400px;
     padding:0 24px;
    }
    .title-container img {
        width: 250px;
      }
   }
   @media (max-width: 400px ) {
  .footer-content-left-list{
  flex-direction: column;
    align-items: center;
    gap: 6px;}
   }

