name: Spellcheck Action
on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]
  workflow_dispatch:
jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      # The checkout step
      - uses: actions/checkout@v3
      - uses: rojopolis/spellcheck-github-actions@0.36.0
        name: Spellcheck
        with:
          output_file: spellcheck-output.txt
      - uses: actions/upload-artifact@v3
        if: '!cancelled()' # Do not upload artifact if job was cancelled
        with:
          name: Spellcheck Output
          path: spellcheck-output.txt